In [199]:
import pandas as pd 
import numpy as np

In [200]:
ds = pd.read_csv("cars.csv")

In [201]:
ds.head()

  buying  maint doors persons lug_boot safety target
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [202]:
ds.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
target      object
dtype: object

In [204]:
# ds = ds.drop(['target'], axis=1)

In [205]:
ds.head()

  buying  maint doors persons lug_boot safety target
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [206]:
l = list(ds.columns)

In [207]:
l

['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'target']

In [208]:
for i in l:
    print("******** Column ",i,"***********")
    print(ds[i].value_counts())
    print()

******** Column  buying ***********
vhigh    432
high     432
med      432
low      432
Name: buying, dtype: int64

******** Column  maint ***********
vhigh    432
high     432
med      432
low      432
Name: maint, dtype: int64

******** Column  doors ***********
2        432
3        432
4        432
5more    432
Name: doors, dtype: int64

******** Column  persons ***********
2       576
4       576
more    576
Name: persons, dtype: int64

******** Column  lug_boot ***********
small    576
med      576
big      576
Name: lug_boot, dtype: int64

******** Column  safety ***********
low     576
med     576
high    576
Name: safety, dtype: int64

******** Column  target ***********
unacc    1210
acc       384
good       69
vgood      65
Name: target, dtype: int64

In [209]:
# ds['buying'].replace(['low', 'med', 'high', 'vhigh'],[ 11, 12 , 13, 14], inplace=True)
# ds['maint'].replace(['low', 'med', 'high', 'vhigh'],[11, 12, 13, 14], inplace=True)
# ds['doors'].replace(['2', '3', '4', '5more'],[2, 3, 4, 15], inplace=True)
# ds['persons'].replace(['2', '4', 'more'],[2, 4, 16], inplace=True)
# ds['lug_boot'].replace(['small', 'med', 'big'],[10, 12, 17], inplace=True)
# ds['safety'].replace(['low', 'med', 'high'],[11, 12, 13], inplace=True)

In [210]:
ds['buying'].replace(['low', 'med', 'high', 'vhigh'],[1, 2, 3,4], inplace=True)
ds['maint'].replace(['low', 'med', 'high', 'vhigh'],[1, 2, 3,4], inplace=True)
ds['doors'].replace(['2', '3', '4', '5more'],[2, 3, 4,5], inplace=True)
ds['persons'].replace(['2', '4', 'more'],[2, 4, 5], inplace=True)
ds['lug_boot'].replace(['small', 'med', 'big'],[1, 2, 3], inplace=True)
ds['safety'].replace(['low', 'med', 'high'],[1, 2, 3], inplace=True)

In [211]:
ds.head()

   buying  maint  doors  persons  lug_boot  safety target
0       4      4      2        2         1       1  unacc
1       4      4      2        2         1       2  unacc
2       4      4      2        2         1       3  unacc
3       4      4      2        2         2       1  unacc
4       4      4      2        2         2       2  unacc

In [212]:
ds.dtypes

buying       int64
maint        int64
doors        int64
persons      int64
lug_boot     int64
safety       int64
target      object
dtype: object

In [213]:
x = ds.drop(['target'], axis=1)
y = ds['target']
y

In [214]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)
len(x_train)

1209

In [215]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(x_train, y_train)

ValueError: could not convert string to float: 'med'

In [ ]:
print("Naive Bayes score: ",nb.score(x_test, y_test))

In [ ]:
from sklearn.tree import DecisionTreeClassifier#for checking testing results

In [ ]:
from sklearn.preprocessing import LabelEncoder#for train test splitting

In [ ]:
#label encoding
le = LabelEncoder()
y = le.fit_transform(y)
y

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x , y, test_size = 0.2, random_state = 42)
print("Training split input- ", X_train.shape)
print("Testing split input- ", X_test.shape)

In [ ]:
dtree=DecisionTreeClassifier()
dtree.fit(X_train,y_train)
print('Decision Tree Classifier Created')

In [ ]:
# Predicting the values of test data
from sklearn.metrics import classification_report, confusion_matrix#for visualizing tree 
y_pred = dtree.predict(X_test)
print("Classification report - \n", classification_report(y_test,y_pred))

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
cm = confusion_matrix(y_test, y_pred)
plt.figure(figsize=(5,5))
sns.heatmap(data=cm,linewidths=.5, annot=True,square = True,  cmap = 'Blues')
plt.ylabel('Actual label')
plt.xlabel('Predicted label')
all_sample_title = 'Accuracy Score: {0}'.format(dtree.score(X_test, y_test))
plt.title(all_sample_title, size = 15)